<form action="/bookmarks" method="post">
  <label for="title">Website name:</label>
  <input type="text" name="title">
  <label for="url">Website URL:</label>
  <input type="text" name="url">
  <input type="submit" value ="Submit">
</form>
